<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853976991023-ntu86a47p0fkmpig9k83n4aenb3564r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853976991023-ntu86a47p0fkmpig9k83n4aenb3564r1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853976991023-b180g333nov3g7afmf5v4pdpd32e7l2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOCDN-JXrALZ5N64562hbi7R183SW3DUk</string>
	<key>GCM_SENDER_ID</key>
	<string>853976991023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.alphasho.spokenChinese</string>
	<key>PROJECT_ID</key>
	<string>spoken-chinese</string>
	<key>STORAGE_BUCKET</key>
	<string>spoken-chinese.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853976991023:ios:b824208bae4422e087cdda</string>
	<key>DATABASE_URL</key>
	<string>https://spoken-chinese.firebaseio.com</string>
</dict>
</plist>